body{
	background-color: #7BBBDE;
}
#main{
	width: 80%;
	margin: auto;
}
#info{  /* info box that sets text to the left and image to the right */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 3%;
}
#info p{ /* paragraph properties */
	width: 60%;
	float: left;
	margin-left: 5%;
	font-size: 24px;
}
#info h2{ /* heading of the paragraph */
	width: 50%;
	float: left;
	margin-left: 5%;
	font-size: 32px;
}
#info img{ /* Ward Christense image properties */
	width: 25%;
	float: right;
	margin-right: 7%;
}
#info2{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 0%;
}
#info2 p{ /* paragraph properties */
	width: 60%;
	float: right;
	margin-right: 5%;
	margin-top: 7%;
	font-size: 24px;
}
#info2 img{ /* CompuServe image properties */
	width: 25%;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}
#info3{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 0%;
}
#info3 p{ /* paragraph properties */
	width: 55%;
	float: left;
	margin-left: 5%;
	margin-top: 8%;
	font-size: 24px;
}
#info3 img{ /* IRC image properties */
	width: 30%;
	float: right;
	margin-right: 7%;
	margin-top: 3%;
}
#info4{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 0%;
}
#info4 p{ /* paragraph properties */
	width: 55%;
	float: right;
	margin-right: 5%;
	margin-top: 8%;
	font-size: 24px;
}
#info4 img{ /* Six Degrees image properties */
	width: 30%;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
}
#info5{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: right;
	background-color:#ACDDF7;
	margin-top: 0%;
}
#info5 p{ /* paragraph properties */
	width: 50%;
	float: left;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 24px;
}
#info5 img{ /* Friendster image properties */
	width: 40%;
	float: right;
	margin-top: 4%;
	margin-right: 5%;
}
#info6{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 0%;
	margin-bottom: 0%;
}
#info6 p{ /* paragraph properties */
	width: 65%;
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	font-size: 24px;
}
#info6 img{ /* MySpace image properties */
	width: 20%;
	float: left;
	margin-top: 1%;
	margin-left: 5%;
}
#info7{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: right;
	background-color:#ACDDF7;
	margin-top: 0%;
}
#info7 p{ /* paragraph properties */
	width: 50%;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 24px;
}
#info7 img{ /* Facebook image properties */
	width: 35%;
	float: right;
	margin-top: 7%;
	margin-right: 6%;
}
#info8{ /* info box that sets text to the right and image to the left */
	width: 100%;
	height: auto;
	float: left;
	background-color:#ACDDF7;
	margin-top: 0%;
	margin-bottom: 5%; /* add small gap at the bottom of the web page to make it look neat */
}
#info8 p{ /* paragraph properties */
	width: 55%;
	float: right;
	margin-right: 5%;
	margin-top: 6%;
	font-size: 24px;
}
#info8 img{ /* Facebook image properties */
	width: 30%;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#image01{
	float: right;
	margin: 1%;
	width: 40%;
}
#header{
	width:100%;
	height:auto;
	background-color:#7BBBDE;
}
#header img{
	width: 100%;
	height: auto;
}
#droptab{
	margin-top:2%;
	width: 100%;
}
#droptab ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 100%; /* used to adjust tab size */
}
#droptab ul a{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	width: 100%;
}
#droptab ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 18%; /* adjust tab size */
}
#droptab ul li.dropdown{
	background:#CAEBFD;
	width: 10%; /* adjust the home buttom size */
}
#droptab ul li:hover{
	background:#ACDDF7
}
#droptab ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#CAEBFD;
	padding:0;
}
#droptab ul ul li{
	float:none;
	width:100%; /* adjust the drop tab color change size */
}
#droptab ul ul a{
	line-height:120%;
	padding:10px 15px
}
#droptab ul ul ul{
	top:0;
	left:100%
}
#droptab ul li:hover > ul{
	display:block
}