body{
	background-color: #7BBBDE;
}
#main{
	width: 80%;
	margin: auto;
}
#paragraph{ /* adjust the text boxes div */
	background-color:#ACDDF7;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}
#paragraph p{ /* adjust text box properties */
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 24px;
}
#paragraph h2{ /* adjust text box properties */
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 32px;
}
#paragraph img{ /* adjust the arpanet image */
	width: 35%;
	height: auto;
	margin-right: 5%;
	margin-bottom: 1%;
	float: right;
}
#video{ /* adjust video box properties */
	background-color:#ACDDF7;
	float: left;
	width: 80%;
	height: 620px;
	margin: 10%;
	margin-top: 3%;
	margin-bottom: 20%;
}
#video iframe{
	width: 98%;
	height: 600px;
	margin: 1%;
}
#header{
	width:100%;
	height:auto;
	background-color:#7BBBDE;
}
#header img{
	width: 100%;
	height: auto;
}
#droptab{
	margin-top:2%;
	width: 100%;
}
#droptab ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 100%; /* used to adjust tab size */
}
#droptab ul a{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	width: 100%;
}
#droptab ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 18%; /* adjust tab size */
}
#droptab ul li.dropdown{
	background:#CAEBFD;
	width: 10%; /* adjust the home buttom size */
}
#droptab ul li:hover{
	background:#ACDDF7
}
#droptab ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#CAEBFD;
	padding:0;
}
#droptab ul ul li{
	float:none;
	width:100%; /* adjust the drop tab color change size */
}
#droptab ul ul a{
	line-height:120%;
	padding:10px 15px
}
#droptab ul ul ul{
	top:0;
	left:100%
}
#droptab ul li:hover > ul{
	display:block
}